<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPABASE_ANON_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZibWxidm5nemN0dGpuYnh5ZGtrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyMDAxMDAsImV4cCI6MjA5Nzc3NjEwMH0.LmkJ0GpoTYAzY7sBblm5_Cs_dGGnLBnjP53_bKzFxCc</string>
	<key>SUPABASE_URL</key>
	<string>https:/$()/vbmlbvngzcttjnbxydkk.supabase.co</string>
</dict>
</plist>
