//
//  Secrets.release.xcconfig
//  FMS
//
//  Created by Aakash Singh Ranswal on 26/06/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
SUPABASE_URL = https:/$()/vbmlbvngzcttjnbxydkk.supabase.co
SUPABASE_ANON_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZibWxidm5nemN0dGpuYnh5ZGtrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjIwMDEwMCwiZXhwIjoyMDk3Nzc2MTAwfQ.LaUUvN5XpSk-mPnoBoQryso-jvw6omfIuYP-D2Au8d4
